{
	"title" : "Example Movie",
	"storyline" : "A story about an example file trying to demonstrate how to use the feature correctly to a user",
	"poster_image_url" : "https://pdfimages.wondershare.com/images/tutorial/movie-poster-template.jpg",
	"trailer_youtube_url" : "https://www.youtube.com/watch?v=wsDOFF1y_uI",
}